@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navegacion {
  background-color: #a3b899 !important; }
  .navegacion .logo {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px; }
  .navegacion .link {
    padding-right: 20px; }
  .navegacion .navbar-expand-md, .navegacion .navbar-collapse {
    justify-content: space-around; }

.navegacion-hombres {
  background-color: #a3b899 !important; }
  .navegacion-hombres .logo {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px; }
  .navegacion-hombres .link {
    padding-right: 20px; }
  .navegacion-hombres .navbar-expand-md, .navegacion-hombres .navbar-collapse {
    justify-content: space-around; }

.navegacion-mujeres {
  background-color: #a3b899 !important; }
  .navegacion-mujeres .logo {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px; }
  .navegacion-mujeres .link {
    padding-right: 20px; }
  .navegacion-mujeres .navbar-expand-md, .navegacion-mujeres .navbar-collapse {
    justify-content: space-around; }

.navegacion-niños {
  background-color: #a3b899 !important; }
  .navegacion-niños .logo {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px; }
  .navegacion-niños .link {
    padding-right: 20px; }
  .navegacion-niños .navbar-expand-md, .navegacion-niños .navbar-collapse {
    justify-content: space-around; }

.main-content {
  background-color: #fceee9;
  padding-top: 25px;
  padding-bottom: 25px; }
  .main-content .main-container {
    text-align: start;
    width: 100%;
    height: 100%;
    padding: 50px; }
  .main-content .presentacion {
    color: #000000;
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; }
    .main-content .presentacion a {
      color: #a3b899;
      text-decoration: none;
      font-weight: bolder; }
  .main-content .subtitulo {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    padding-top: 30px; }
  .main-content .presentacion-ropa {
    padding: 35px;
    display: grid; }
    .main-content .presentacion-ropa .div-img {
      width: 60%;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main-content .presentacion-ropa .div-img a img {
        width: 100%;
        height: 150px;
        margin: 3px; }
      .main-content .presentacion-ropa .div-img .descripcion h4 {
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        text-align: center; }
      .main-content .presentacion-ropa .div-img .descripcion p {
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin: 0 !important; }

.ropa-hombre {
  background-color: #fceee9;
  padding-top: 35px;
  padding-bottom: 35px; }
  .ropa-hombre .hombre1 {
    display: flex;
    margin: 0 10px;
    border-bottom: 3px solid #aae071; }
    .ropa-hombre .hombre1 .img1 {
      width: 50%;
      height: 60%;
      padding: 10px 10px 10px 15px; }
    .ropa-hombre .hombre1 .texto1 {
      font-family: "Poppins", sans-serif;
      padding-right: 10px; }
      .ropa-hombre .hombre1 .texto1 h4 {
        font-size: 15px;
        padding-top: 5px;
        border-bottom: 2px solid #000000; }
      .ropa-hombre .hombre1 .texto1 p {
        font-size: 12.5px; }
  .ropa-hombre .hombre2 {
    display: flex;
    margin: 0 10px;
    border-bottom: 3px solid #aae071; }
    .ropa-hombre .hombre2 .img2 {
      width: 50%;
      height: 60%;
      padding: 10px 10px 10px 15px; }
    .ropa-hombre .hombre2 .texto2 {
      font-family: "Poppins", sans-serif;
      padding-right: 10px; }
      .ropa-hombre .hombre2 .texto2 h4 {
        font-size: 15px;
        padding-top: 5px;
        border-bottom: 2px solid #000000; }
      .ropa-hombre .hombre2 .texto2 p {
        font-size: 14.5px; }
  .ropa-hombre .hombre3 {
    display: flex;
    margin: 0 10px;
    border-bottom: 3px solid #aae071; }
    .ropa-hombre .hombre3 .img3 {
      width: 50%;
      height: 60%;
      padding: 10px 10px 10px 15px; }
    .ropa-hombre .hombre3 .texto3 {
      font-family: "Poppins", sans-serif;
      padding-right: 10px; }
      .ropa-hombre .hombre3 .texto3 h4 {
        font-size: 15px;
        padding-top: 5px;
        border-bottom: 2px solid #000000; }
      .ropa-hombre .hombre3 .texto3 p {
        font-size: 14.5px; }
  .ropa-hombre .hombre4 {
    display: flex;
    margin: 0 10px;
    border-bottom: 3px solid #aae071; }
    .ropa-hombre .hombre4 .img4 {
      width: 50%;
      height: 60%;
      padding: 10px 10px 10px 15px; }
    .ropa-hombre .hombre4 .texto4 {
      font-family: "Poppins", sans-serif;
      padding-right: 10px; }
      .ropa-hombre .hombre4 .texto4 h4 {
        font-size: 15px;
        padding-top: 5px;
        border-bottom: 2px solid #000000; }
      .ropa-hombre .hombre4 .texto4 p {
        font-size: 11.8px; }
  .ropa-hombre .hombre5 {
    display: flex;
    margin: 0 10px;
    border-bottom: 3px solid #aae071; }
    .ropa-hombre .hombre5 .img5 {
      width: 50%;
      height: 60%;
      padding: 10px 10px 10px 15px; }
    .ropa-hombre .hombre5 .texto5 {
      font-family: "Poppins", sans-serif;
      padding-right: 10px; }
      .ropa-hombre .hombre5 .texto5 h4 {
        font-size: 15px;
        padding-top: 5px;
        border-bottom: 2px solid #000000; }
      .ropa-hombre .hombre5 .texto5 p {
        font-size: 12.5px; }
  .ropa-hombre .hombre6 {
    display: flex;
    margin: 0 10px;
    border-bottom: 3px solid #aae071; }
    .ropa-hombre .hombre6 .img6 {
      width: 50%;
      height: 60%;
      padding: 10px 10px 10px 15px; }
    .ropa-hombre .hombre6 .texto6 {
      font-family: "Poppins", sans-serif;
      padding-right: 10px; }
      .ropa-hombre .hombre6 .texto6 h4 {
        font-size: 15px;
        padding-top: 5px;
        border-bottom: 2px solid #000000; }
      .ropa-hombre .hombre6 .texto6 p {
        font-size: 11.2px; }
  .ropa-hombre .hombre7 {
    display: flex;
    margin: 0 10px;
    border-bottom: 3px solid #aae071; }
    .ropa-hombre .hombre7 .img7 {
      width: 50%;
      height: 225px;
      padding: 10px 10px 10px 15px; }
    .ropa-hombre .hombre7 .texto7 {
      font-family: "Poppins", sans-serif;
      padding-right: 10px; }
      .ropa-hombre .hombre7 .texto7 h4 {
        font-size: 15px;
        padding-top: 5px;
        border-bottom: 2px solid #000000; }
      .ropa-hombre .hombre7 .texto7 p {
        font-size: 13.5px; }
  .ropa-hombre .hombre8 {
    display: flex;
    margin: 0 10px;
    border-bottom: 3px solid #aae071; }
    .ropa-hombre .hombre8 .img8 {
      width: 50%;
      height: 60%;
      padding: 10px 10px 10px 15px; }
    .ropa-hombre .hombre8 .texto8 {
      font-family: "Poppins", sans-serif;
      padding-right: 10px; }
      .ropa-hombre .hombre8 .texto8 h4 {
        font-size: 15px;
        padding-top: 5px;
        border-bottom: 2px solid #000000; }
      .ropa-hombre .hombre8 .texto8 p {
        font-size: 14.5px; }

.ropa-mujeres {
  background-color: #fceee9;
  padding-top: 35px;
  padding-bottom: 35px;
  display: grid; }
  .ropa-mujeres div {
    width: 30%;
    border-radius: 15px;
    margin: 5px auto; }
    .ropa-mujeres div:hover {
      transform: scale(1.05);
      transition: 2s; }
  .ropa-mujeres h4 {
    text-align: center;
    background-color: #a3b899;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 15PX; }
  .ropa-mujeres img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

.ropa-niños {
  background-color: #fceee9;
  padding-top: 35px;
  padding-bottom: 35px;
  display: grid; }
  .ropa-niños div {
    width: 30%;
    border-radius: 15px;
    margin: 5px auto; }
    .ropa-niños div:hover {
      transform: scale(1.05);
      transition: 2s; }
  .ropa-niños h4 {
    text-align: center;
    background-color: #a3b899;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 15PX; }
  .ropa-niños img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

.main-contacto {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #fceee9; }
  .main-contacto .container {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    border: 2px solid #bcdfb1;
    background: linear-gradient(to right, #a3b899, #aae071);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px; }
    .main-contacto .container h2 {
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center; }
    .main-contacto .container form {
      display: flex;
      flex-direction: column; }
      .main-contacto .container form .input {
        margin: 1em 0 1em 0;
        width: 300px;
        position: relative; }
        .main-contacto .container form .input input {
          font-size: 100%;
          padding: 0.7em;
          outline: none;
          color: #ffffff;
          border: none;
          background: transparent;
          border-bottom: 2px solid #ffffff;
          border-radius: none;
          width: 100%; }
        .main-contacto .container form .input textarea {
          margin: 1em 0 1em 0;
          width: 300px;
          position: relative;
          font-size: 100%;
          padding: 0.7em;
          outline: none;
          color: #ffffff;
          border: none;
          background: transparent;
          border-bottom: 2px solid #ffffff;
          border-radius: none;
          width: 100%;
          resize: none; }
        .main-contacto .container form .input label {
          font-size: 100%;
          position: absolute;
          left: 0;
          color: #ffffff;
          padding: 0.7em;
          margin-left: 0.1em;
          pointer-events: none;
          transition: all 0.5s ease;
          text-transform: uppercase; }
        .main-contacto .container form .input:is(input:focus) ~ label {
          transform: translateY(-50%) scale(0.9);
          margin: 0em;
          padding: 0.4em;
          background: transparent; }
        .main-contacto .container form .input:is(input:valid) ~ label {
          transform: translateY(-50%) scale(0.9);
          margin: 0em;
          padding: 0.4em;
          background: transparent; }
      .main-contacto .container form button {
        color: #ffffff;
        font-size: 15px;
        align-self: flex-start;
        padding: 0.6em;
        border: none;
        cursor: pointer;
        margin-bottom: 30px;
        background: transparent;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden; }
        .main-contacto .container form button:before {
          content: "";
          position: relative;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: #ffffff;
          opacity: 0;
          transition: opacity 0.3s ease-in-out; }
        .main-contacto .container form button:hover {
          transform: translateY(-3px);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }

.footer-distributed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a3b899;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 50px 50px 60px 50px; }
  .footer-distributed .footer-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px; }
    .footer-distributed .footer-left h3 {
      color: #000000;
      font-size: 36px;
      font-weight: normal;
      font-family: "Protest Guerrilla", sans-serif;
      margin: 0; }
    .footer-distributed .footer-left .footer-links {
      color: #000000;
      margin: 20px 0 12px; }
      .footer-distributed .footer-left .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
        font-size: 12.5px; }
        .footer-distributed .footer-left .footer-links a:hover {
          color: #aae071; }
    .footer-distributed .footer-left .footer-company-name {
      color: #000000;
      font-size: 12.5px;
      font-weight: normal;
      margin: 0; }
  .footer-distributed .footer-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px auto;
    width: 300px; }
    .footer-distributed .footer-center svg {
      background-color: #808080;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      padding: 4.5px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle; }
    .footer-distributed .footer-center p {
      display: inline-block;
      color: #000000;
      vertical-align: middle;
      margin: 0;
      font-size: 15px; }
      .footer-distributed .footer-center p a {
        color: #000000;
        text-decoration: none; }
        .footer-distributed .footer-center p a:hover {
          color: #aae071; }
  .footer-distributed .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; }
    .footer-distributed .footer-right .footer-company-about {
      line-height: 20px;
      color: #000000;
      text-align: justify;
      font-size: 13px;
      font-weight: normal;
      margin: 0; }
      .footer-distributed .footer-right .footer-company-about span {
        display: block;
        color: #000000;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px; }
    .footer-distributed .footer-right .footer-icons {
      margin-top: 25px;
      display: flex;
      justify-content: space-evenly;
      gap: 15px; }
      .footer-distributed .footer-right .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #808080;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px; }
        .footer-distributed .footer-right .footer-icons a:hover {
          background-color: #aae071; }

@media (min-width: 767px) {
  .presentacion-ropa {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .presentacion-ropa .div-img a {
      width: 150px;
      height: 175px; }
      .presentacion-ropa .div-img a img {
        height: 100% !important;
        padding: 7px; }
  .ropa-hombre .hombre1 .img1 {
    width: 35%;
    height: 250px; }
  .ropa-hombre .hombre1 .texto1 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre1 .texto1 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre2 .img2 {
    width: 35%;
    height: 280px; }
  .ropa-hombre .hombre2 .texto2 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre2 .texto2 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre3 .img3 {
    width: 35%;
    height: 250px; }
  .ropa-hombre .hombre3 .texto3 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre3 .texto3 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre4 .img4 {
    width: 197.5px;
    height: 215px; }
  .ropa-hombre .hombre4 .texto4 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre4 .texto4 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre5 .img5 {
    width: 197.5px;
    height: 215px; }
  .ropa-hombre .hombre5 .texto5 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre5 .texto5 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre6 .img6 {
    width: 197.5px;
    height: 230px; }
  .ropa-hombre .hombre6 .texto6 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre6 .texto6 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre7 .img7 {
    width: 197.5px;
    height: 215px; }
  .ropa-hombre .hombre7 .texto7 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre7 .texto7 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre8 .img8 {
    width: 197.5px; }
  .ropa-hombre .hombre8 .texto8 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre8 .texto8 p {
    padding-top: 10px;
    font-size: 18px; }
  .main-form {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .main-form .contact-form {
      width: 50%; }
      .main-form .contact-form h3 {
        font-size: 40px; }
      .main-form .contact-form p {
        font-size: 20px; }
      .main-form .contact-form button {
        font-size: 20px;
        font-weight: bold; }
  .footer-distributed {
    display: flex;
    flex-direction: row;
    height: 350px;
    gap: 0 15px; }
    .footer-distributed .footer-center {
      width: 350px; }
      .footer-distributed .footer-center p {
        font-size: 11px; }
    .footer-distributed .footer-right .footer-company-about {
      font-size: 11px; }
      .footer-distributed .footer-right .footer-company-about span {
        font-size: 13.5px; } }

@media (min-width: 927px) {
  nav .logo {
    font-size: 35px !important; }
  nav .nav-link {
    font-size: 20px; }
  .presentacion-ropa {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .presentacion-ropa .div-img a {
      width: 175px;
      height: 200px; }
      .presentacion-ropa .div-img a img {
        height: 100% !important; }
  .ropa-hombre .hombre1 .img1 {
    width: 35%;
    height: 250px; }
  .ropa-hombre .hombre1 .texto1 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre1 .texto1 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre2 .img2 {
    width: 35%;
    height: 280px; }
  .ropa-hombre .hombre2 .texto2 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre2 .texto2 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre3 .img3 {
    width: 35%;
    height: 250px; }
  .ropa-hombre .hombre3 .texto3 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre3 .texto3 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre4 .img4 {
    width: 197.5px;
    height: 215px; }
  .ropa-hombre .hombre4 .texto4 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre4 .texto4 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre5 .img5 {
    width: 197.5px;
    height: 215px; }
  .ropa-hombre .hombre5 .texto5 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre5 .texto5 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre6 .img6 {
    width: 197.5px;
    height: 230px; }
  .ropa-hombre .hombre6 .texto6 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre6 .texto6 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre7 .img7 {
    width: 197.5px;
    height: 215px; }
  .ropa-hombre .hombre7 .texto7 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre7 .texto7 p {
    padding-top: 10px;
    font-size: 18px; }
  .ropa-hombre .hombre8 .img8 {
    width: 197.5px; }
  .ropa-hombre .hombre8 .texto8 h4 {
    font-size: 20px; }
  .ropa-hombre .hombre8 .texto8 p {
    padding-top: 10px;
    font-size: 18px; }
  .container {
    width: 400px !important;
    height: 450px !important; }
    .container h2 {
      font-size: 35px !important;
      padding-top: 25px; }
    .container form {
      align-items: center; }
      .container form input {
        font-size: 18px !important; }
      .container form label {
        font-size: 22.5px !important;
        padding: 0.4em !important; }
      .container form button {
        font-size: 25px !important; }
  .footer-distributed .footer-left .footer-links a {
    font-size: 15px; }
  .footer-distributed .footer-left .footer-company-name {
    font-size: 15px; }
  .footer-distributed .footer-center p {
    font-size: 15px; }
  .footer-distributed .footer-right .footer-company-about {
    font-size: 13.5px; } }

@media (min-width: 1144px) {
  nav .logo {
    font-size: 45px !important; }
  nav .nav-link {
    font-size: 22.5px; }
  .main-container h2 {
    font-size: 45px; }
  .main-container p {
    font-size: 20px; }
  .presentacion-ropa {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .presentacion-ropa .div-img a {
      width: 250px;
      height: 275px; }
      .presentacion-ropa .div-img a img {
        height: 100% !important; }
  .ropa-hombre .hombre1 .img1 {
    width: 50%;
    height: 300px; }
  .ropa-hombre .hombre1 .texto1 h4 {
    font-size: 30px; }
  .ropa-hombre .hombre1 .texto1 p {
    padding-top: 10px;
    font-size: 22.5px; }
  .ropa-hombre .hombre2 .img2 {
    width: 45%;
    height: 300px; }
  .ropa-hombre .hombre2 .texto2 h4 {
    font-size: 30px; }
  .ropa-hombre .hombre2 .texto2 p {
    padding-top: 10px;
    font-size: 22.5px; }
  .ropa-hombre .hombre3 .img3 {
    width: 40%;
    height: 300px; }
  .ropa-hombre .hombre3 .texto3 h4 {
    font-size: 30px; }
  .ropa-hombre .hombre3 .texto3 p {
    padding-top: 10px;
    font-size: 22.5px; }
  .ropa-hombre .hombre4 .img4 {
    width: 235px;
    height: 245px; }
  .ropa-hombre .hombre4 .texto4 h4 {
    font-size: 30px; }
  .ropa-hombre .hombre4 .texto4 p {
    padding-top: 10px;
    font-size: 22.5px; }
  .ropa-hombre .hombre5 .img5 {
    width: 46.5%;
    height: 245px; }
  .ropa-hombre .hombre5 .texto5 h4 {
    font-size: 30px; }
  .ropa-hombre .hombre5 .texto5 p {
    padding-top: 10px;
    font-size: 22.5px; }
  .ropa-hombre .hombre6 .img6 {
    width: 35%;
    height: 260px; }
  .ropa-hombre .hombre6 .texto6 h4 {
    font-size: 30px; }
  .ropa-hombre .hombre6 .texto6 p {
    padding-top: 10px;
    font-size: 22.5px; }
  .ropa-hombre .hombre7 .img7 {
    width: 35%;
    height: 233px; }
  .ropa-hombre .hombre7 .texto7 h4 {
    font-size: 30px; }
  .ropa-hombre .hombre7 .texto7 p {
    padding-top: 10px;
    font-size: 22.5px; }
  .ropa-hombre .hombre8 .img8 {
    width: 35%;
    height: 340px; }
  .ropa-hombre .hombre8 .texto8 h4 {
    font-size: 30px; }
  .ropa-hombre .hombre8 .texto8 p {
    padding-top: 10px;
    font-size: 22.5px; }
  .container {
    width: 500px !important;
    height: 550px !important; }
    .container h2 {
      font-size: 40px !important;
      padding-top: 25px; }
    .container form {
      align-items: center; }
      .container form input {
        font-size: 20px !important; }
      .container form label {
        font-size: 25px !important;
        padding: 0.4em !important; }
      .container form button {
        font-size: 27.5px !important; }
  .footer-distributed .footer-left .footer-links a {
    font-size: 18px; }
  .footer-distributed .footer-left .footer-company-name {
    font-size: 17px; }
  .footer-distributed .footer-center p {
    font-size: 18px; }
  .footer-distributed .footer-right .footer-company-about {
    font-size: 15.5px; } }
