.footer{
    background-color: $color-principal1;
    padding: 30px;
    font-size: 12px;
    text-align: center;
    a{
        color: $color-texto1;
        text-decoration: none;
        font-weight: bolder;
    }
}

.footer-hombres{
    background-color: $color-hombre1;
    padding: 30px;
    font-size: 12px;
    text-align: center;
    a{
        color: $color-texto1;
        text-decoration: none;
        font-weight: bolder;
    }
}

.footer-mujeres{
    background-color: $color-mujer1;
    padding: 30px;
    font-size: 12px;
    text-align: center;
    a{
        color: $color-texto1;
        text-decoration: none;
        font-weight: bolder;
    }
}

.footer-niños{
    background-color: $color-niños1;
    padding: 30px;
    font-size: 12px;
    text-align: center;
    a{
        color: $color-texto1;
        text-decoration: none;
        font-weight: bolder;
    }
}