.ropa-mujeres{
    background-color: $color-principal2;
    padding-top: 35px;
    padding-bottom: 35px;
    display: grid;
    div {
        width: 30%;
        border-radius: 15px;
        margin: 5px auto;
        &:hover{
            transform: scale(1.05);
            transition: 2s;
        }
    }
    h4 {
        text-align: center;
        background-color: $color-principal1;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 15PX;
    }
    img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}