.main-contacto{
    background-color: $color-principal2;
    padding-top: 25px;
    padding-bottom: 25px;
    h2 {
        color: $color-texto1;
        padding: 15px;
        font-family: $fuente-principal;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    .main-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        .contact-form {
            margin: 20px auto;
            padding: 10px 15px;
            border: $color-principal3 solid 3px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
        h3 {
            text-align: center;
        }
        button {
            margin: 5px auto 0 auto;
            width: 50%;
            background-color: $color-principal1;
        }
    }
}