$color-texto1: #000000;
$color-texto2: #ffffff;;
$color-principal1: #a3b899;
$color-principal2: #fceee9;
$color-niños1: #00b4d8;
$color-niños2: #ff8fab;
$color-hombre1: #99582a;
$color-hombre2: #ffe6a7;
$color-mujer1: #a663cc;
$color-mujer2: #b298dc;