$color-texto1: #000000;
$color-texto2: #ffffff;
$color-texto3: #808080;
$color-principal1: #a3b899;
$color-principal2: #fceee9;
$color-principal3: #bcdfb1;
$color-principal4: #aae071;
$color-principal5: #000000;
$color-principal6: #ffffff;